.video-container {
	position: relative;
	width: 100%;
	height: 100vh;
}

.video-background {
	position: absolute;
	top: 40dvh;
	left: 50%;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.content {
	z-index: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
